body {
        line-height: 1.6;
}
.txt{
    border:5px solid beige;
    border-radius: 10px;
    padding-left: 10px;
    background-color: bisque;
    
}
.data{
    background-color:rgb(168, 238, 215);
    border-radius: 20px;
    padding-bottom: 2px;
}
#pic{
    height: 150px;
    border-radius: 15px;

}
.name{
    background-color:#f5ebe1;
    border-radius: 10px;
    border: 2px solid rgb(237, 227, 211);
    padding-left: 20px;

}
#head{
    background-color: #f5ebe1;
    border-radius: 10px;
}