body {
    line-height: 1.8; 
    font-family: 'Roboto', sans-serif; 
    font-size: 1.1em;
    color: #333333; 
    background-color: #f9f9f9; 
}
#head {
    background: linear-gradient(180deg, #87ceeb, #003366);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff; 
}


.data {
    background-color: #ffffff;
    border: 2px solid #87ceeb; 
    border-radius: 15px; 
    padding: 15px;
    margin: 20px auto; 
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.txt {
    background-color: #87ceeb; 
    color: #ffffff; 
    font-size: 1.8em; 
    font-weight: bold; 
    text-align: center; 
    padding: 10px 15px; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}


ul {
    padding-left: 20px; 
    color: #4d4d4d;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    list-style-type: disc;
}

ul li {
    margin-bottom: 10px; 
    line-height: 1.6; 
}
#pic {
    border: 3px solid #87ceeb;
    border-radius: 50%; 
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease, border-color 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#pic:hover {
    transform: scale(1.2); 
    border-color: #87ceeb; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}


.name {
    color: #003366; 
    font-family:'Pacifico', cursive;
    transition: color 0.3s ease, transform 0.3s ease;
}
.name:hover {
    color: #87ceeb; 
    transform: scale(1.1); 
}


.name + p {
    color: #4d4d4d; 
    font-size: 1.2em;
}

a.names {
    color: #003366;
    text-decoration: none;
    font-weight: bold; 
    transition: color 0.5s ease;
    
}

a.names:hover {
    color: #87ceeb; 
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


#click {
    text-align: center; 
    margin-top: 20px; 
}

.btn {
    display: inline-block;
    background-color: #87ceeb;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #003366; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

